<h1><%= @project.name %></h1>
<h3><%= @project.description %></h3>
<h3>Manager: <%= link_to "#{@project.manager.first_name} #{@project.manager.last_name}" %></h3><br>


<% if current_user == @project.manager %>
  <h4>Recommended matches:</h4>
  <% if @names == nil %>
    There are no current matches for this project.
  <% else %>
    <% @names.each do |name| %>
      <%= link_to "#{name.first_name} #{name.last_name}", project_member_path(@project, name), method: :post %>
      <% if !name.awaiting_reply(@project).empty? %>
        Requested
      <% elsif name.accepted?(@project) %>
        Accepted
      <% end %><br>
    <% end %>
  <% end %>
<% end %>

<% if current_user.project_members.find_by(project_id: @project.id) && current_user.project_members.find_by(project_id: @project.id).status == "pending" %>
  <%= link_to 'Accept', edit_project_member_path(@project.id, current_user.id), method: :post %>
<% end %>
