  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<%= form_for @survey do |f| %>
    <%= f.fields_for :responses do |r| %>
      <%= r.hidden_field :question_id %>
      <%= r.hidden_field :user_id %>
      <%= r.object.question.text %><br>
      <%= label :answer, "True", value: true %>
      <%= r.radio_button :answer, true %>
      <%= label :answer, "False", value: false %>
      <%= r.radio_button :answer, false %><br>
      Importance: <%= r.collection_radio_buttons(:importance, @checkboxes, :to_i, :to_i) %>
    <% end %>
    <%= f.submit %>
<% end %>
